:host {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #1f2937;
}

.todo-page {
    min-height: 100vh;
    background: rgb(250, 243, 243);

    &__topbar {
        height: 64px;
        background: white;
        border-bottom: 1px solid #1f2937;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 18px;
        padding-right: 18px;
    }

    &__brand {
        font-size: 24px;
        font-weight: 700;
    }

    &__topbar-right {
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    &__avatar {
        display: grid;
        place-items: center;
        border: 1px solid #e5e7eb;
    }

    &__logout-btn {
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 15px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__content {
        background-color: aqua;
        display: grid;
        grid-template-columns: 320px 1fr;
        height: calc(100vh - 64px);
        gap: 0px;
    }
}