version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: todo-postgres
    restart: always

    environment:
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_pass
      POSTGRES_DB: todo_db 

    ports:
      - "5434:5432"

    volumes:
      - "D:/DESKTOP/ITC/docker-data:/var/lib/postgresql/data"
